.two img {
    width: 400px;
    height: auto;
    border-radius: 300px;
    display: flex;

}
.one img {
    width: 400px;
    height: auto;
    border-radius: 300%;
    display: flex;
}
#about {
    /* display: flex;
    color: blue;
    text-align: center; */

}