#about{
    display: flex;
}
.one{
    width: 50vw;
    height: 50vw;
    padding: 2%;
    font-family: sans-serif;
}
.two{
    width: 50vw;
    height: 50vw;
    padding: 2%;
}
.three{
    width: 50vw;
    height:50vw ;
    border-radius: 25%, 0, 25%, 0
}